.toggle {
  position: relative;
  display: inline-block;
  margin: 0 0.5rem;

  & input {
    width: 0;
    height: 0;
    pointer-events: none;

    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  & input:focus + .slider {
    box-shadow: #fffffed9 0px 0px 1px 2px;
    outline: none;
  }

  & input:focus:not(:focus-visible) + .slider {
    box-shadow: none;
    outline: none;
  }
}

.slider {
  width: 2.375rem;
  height: 1.25rem;
  border-radius: 1rem;
  background-color: #bdbdbd;
  display: block;
  transition: background-color 0.5s cubic-bezier(0.17, 0.84, 0.74, 1.12);

  &::after {
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: #fffffe;
    display: block;
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.checked {
    background-color: #7f5af0;
  }

  &.checked::after {
    transform: translate(1.125rem);
  }
}
