.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.contentWrapper {
  width: 35rem;
  max-width: 100vw;
  background-color: var(--color-background);
  padding: 1rem;
  border-radius: 1rem;
}

.modalTitle {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1rem 0;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;

  & > :not(:last-child) {
    margin-right: 0.5rem;
  }
}

.modalText {
  padding: 1rem 0;
  color: var(--color-text-secondary);
}
