.notificationsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.themeSwitchBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.themeIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 20rem;
}

.current {
  color: var(--color-primary);
}
